@model BankAppMvc.ViewModels.PayAndWithdrawalViewModel

   
    <form style="width: 400px; height:350px; margin: 60px auto 30px; padding: 7px; position: relative; box-shadow: 0 1px rgba(0, 0, 0, 0.3), 0 3px 2px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),inset 0 -3px 2px rgba(0,0,0,0.25);border-radius: 5px; background-image: url(https://www.transparenttextures.com/patterns/clean-gray-paper.png); position: relative" asp-controller="Account" asp-action="Deposit" method="post">
        <input type="hidden" asp-for="@Model.Account.AccountId" />        
            <h4 style="color:dimgrey; margin-top:30px; font-family:cursive; font-size:20px" asp-for="@Model.Account.AccountId">Deposit in to account: @Model.Account.AccountId</h4>              
            <h4 style="color:dimgrey; font-family:cursive; font-size:20px" asp-for="@Model.Account.Balance">Balance: @Model.Account.Balance SEK</h4>
        </br>
            <h3 style="color:dimgrey; margin-top:30px; font-family:cursive; font-size:20px">Amount:</h3>
            <input style="text-decoration:none; width: 300px; margin: 15px auto 5px; padding: 3px; outline:0; position: relative; box-shadow: 0 1px rgba(0, 0, 0, 0.25), 0 3px 7px rgba(0, 0, 0, 0.3), 
            inset 0 1px rgba(255,255,255,1),inset 0 -3px 2px rgba(0,0,0,0.25);border-radius: 5px;background: linear-gradient(#eeefef, #ffffff 10%)" type="text" asp-for="@Model.Transaction.Amount" />
        </br></br>
        
        <button type="submit" style="background-color:darkgray; width:80px; margin-left:10px; margin-right:10px; font-family:cursive; font-size:14px">Verify</button>
        <a asp-controller="Account" asp-action="AccountDetails" asp-route-id="@Model.Account.AccountId" style="color:darkgray; font-weight:bold; font-family:cursive; font-size:14px">Go back <--</a>
    </form>


@if (Model.Transaction != null)

{

    <div id="depositDoneDiv">

    </div>

}